<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="shortcut icon" type="image/png" th:href="@{/img/favicon.png}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Pontos</title>
</head>
<body>
    <div class="container-fluid text-center">
        <div>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Deslogar">
            </form>
        </div>

        <div><h1 id="infos" th:link="${link}" th:context-path="${contextPath}">Pontos</h1></div>
        <div class="m-2">
            <a class="h3" th:if="${adm}" th:href="@{/usuarios}">Gerenciar usuários</a>
        </div>
        <div class="m-2">
            <input type="checkbox" id="ativos" th:checked="${ativos}"><label for="ativos" class="m-2">Ativos</label>
        </div>

        <div th:if="${param.acessonegado}" class="alert alert-warning alert-dismissible text-center" role="alert">
            <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
            Sua conta não tem acesso a esse serviço
        </div>

        <!--/*@thymesVar id="messageSucess" type="java.lang.String"*/-->
        <div th:if="${messageSucess}" class="alert alert-success alert-dismissible text-center" role="alert">
            <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
            [[${messageSucess}]]
        </div>

        <!--/*@thymesVar id="messageError" type="java.lang.String"*/-->
        <div th:if="${messageError}" class="alert alert-warning alert-dismissible text-center" role="alert">
            <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
            [[${messageError}]]
        </div>

        <div>
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Sensores</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <th:block th:each="ponto : ${listPontos}">
                        <tr>
                            <td>[[${ponto.id}]]</td>
                            <td><input th:id="${ponto.id}" type="text" th:value="${ponto.nome}"></td>
                            <td>
                                <th:block th:each="sensor : ${listSensores}">
                                    <input th:name="'sensor' + ${sensor.id}" th:id="'sensor' + ${sensor.id}" type="checkbox" th:data-name="${ponto.id}" onclick="ativarSensor(this)" th:checked="${ponto.sensores.contains(sensor.id.toString())}">
                                    <label th:for="'sensor' + ${sensor.id}" th:text="${sensor.nome}"></label>
                                    <br>
                                </th:block>
                            </td>
                            <td>
                                <a class="h4 mr-3" th:href="@{'/pontos/consultar/' + ${ponto.id}}">Consultar</a>
                                <button class="btn btn-primary m-3" th:data-name="${ponto.id}" onclick="renomear(this)">Renomear</button>
                                <a th:if="${ponto.ativo}" class="h4 mr-3" th:href="@{'/pontos/ativotoggle/' + ${ponto.id}}">Inativar</a>
                                <a th:if="${!ponto.ativo}" class="h4 mr-3" th:href="@{'/pontos/ativotoggle/' + ${ponto.id}}">Ativar</a>
                                <a th:if="${!central.equals(ponto.id)}" class="h4 mr-3" th:href="@{'/pontos/adotarcentral/' + ${ponto.id}}">Adotar central</a>
                                <span th:if="${central.equals(ponto.id)}" class="h4 mr-3">Sua central</span>
                            </td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $("#ativos").click(function () {
                if ($(this).is(":checked")) {
                    window.location.replace("http://" + document.getElementById("infos").getAttribute("link") + document.getElementById("infos").getAttribute("context-path") + "/pontos/true");
                } else {
                    window.location.replace("http://" + document.getElementById("infos").getAttribute("link") + document.getElementById("infos").getAttribute("context-path") + "/pontos/false");
                }
            });
        });
    </script>

    <script>
        function renomear(botao) {
            window.location.replace("http://" + document.getElementById("infos").getAttribute("link") + document.getElementById("infos").getAttribute("context-path") + "/pontos/renomear/" + botao.getAttribute('data-name') + "/" + document.getElementById(botao.getAttribute('data-name')).value);
        }
    </script>

    <script>
        function ativarSensor(checkbox) {
            window.location.replace("http://" + document.getElementById("infos").getAttribute("link") + document.getElementById("infos").getAttribute("context-path") + "/sensores/ativar/" + checkbox.getAttribute("data-name") + "/" + checkbox.getAttribute("id").replace("sensor", "") + "/" + checkbox.checked);
        }
    </script>
</body>
</html>